<% if messages.present? %>
  <% messages.each do |m| %>
    <div class="room__messages">
      <% if m.user_id == current_user.id %>
        <!--メッセージ（右側）-->
      <div class="room__icon_right">
        <%= link_to attachment_image_tag(m.user, :icon, :fill, 100, 100, fallback: "no_image.jpg", class: "icon__body"), user_path(m.user) %>
      </div>
        <div class="room__message room__right">
          <div class="room__message_box">
            <div class="room__message_content">
              <div class="room__message_text">
                <%= m.user.name %>
                <%= l m.created_at %></br>
                <%= m.body %></br>
                <%= attachment_image_tag m, :image, format: 'jpeg', size: "100x100" %></br>
                <span><i class="fas fa-heart"></i><%= m.favorites.count %></span>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <!--メッセージ（左側）-->
      <div class="room__icon_left">
        <%= link_to attachment_image_tag(m.user, :icon, :fill, 100, 100, fallback: "no_image.jpg", class: "icon__body"), user_path(m.user) %>
      </div>
        <div class="room__message room__left">
          <div class="room__message_box">
            <div class="room__message_content">
              <div class="room__message_text">
                <%= m.user.name %>
                <%= l m.created_at %></br>
                <%= m.body %></br>
                <%= attachment_image_tag m, :image, format: 'jpeg', size: "100x100" %></br>
                <span id="favorite-btn_<%= m.id %>"><%= render 'public/favorites/favorite-btn', m: m %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>