<div class="contents__header_reverse">
  <div class="contents__inner">
      <div class =contents__image></div>
  </div>
</div>
<article class="rooms">
  <section class="rooms__text">
    <h1 class="rooms__text_title">
      Room list
      </h1>
          <%= search_form_for @q do |f| %>
            <%= f.label :name_cont, 'タイトル' %>
            <%= f.search_field :name_cont %>
            <br>
            <%= f.submit '検索' %>
          <% end %>
        <% @rooms.each do |room| %>
          <div><%= link_to room.name, room_path(room.id), class:"rooms__text_cite" %></div>
        <% end %>
        <%= paginate @rooms %>
  </section>
</article>