<div class="contents__header_reverse">
  <div class="contents__inner">
      <div class =contents__image></div>
  </div>
</div>
<article class="rooms">
  <section class="rooms__text">
    <h1 class="rooms__text_title">
      Room list
      </h1>
      <p>では早速VR友作りの為にルームを作成……の前に、まずは同じ事を語りたい人が既に存在するルームが無いか確認しましょう！
      </p>
      <p>ルーム利用のルール</br>
        ・１つの議題につきワンルームが基本です。</br>
        ・ルーム名は、他の人が分かりやすいようにソフトのタイトル、又は企業名として下さい。</br>
        ・他の人と仲良くする気のない子はそもそも参加してはいけません、ここはVR友を作る場です。</br>
        ・ルールを守って楽しくチャット。
        </p>
          <%= search_form_for q, url: rooms_path do |f| %>
            <div class="search">
              <%= f.search_field :name_cont, class: "search__box" %>
              <%= button_tag type: 'f.submit', class: "search__button" do %>
              <i class="fas fa-search"></i>
              <% end %>
            </div>
          <% end %>
        <% rooms.each do |room| %>
          <% if room.room_status == true %>
          <div><%= link_to room.name, room_path(room.id), class:"rooms__text_cite" %></div>
          <% else %>
          <% end %>
        <% end %>
        <%= paginate rooms %>
  </section>
</article>
<div class="contents__header">
  <div class="contents__inner">
      <div class =contents__image_two></div>
  </div>
</div>
  <article class="rooms">
    <section class="rooms__text">
      <h1 class="rooms__text_title">Room Create</h1>
        <h4>語りたいタイトルが見つからなかった貴方へ</h4>
          <p>自分が楽しいと思うものは、他の人にも楽しいと思って貰いたいですよね!</br>
          ここでルームを作成してコンテンツのアピールをしながら同好の士を待ちましょう。</p>
        <%= form_with model: [room], local:true do |f| %>
          <div class="errors"><%= flash[:notice] %></div>
          <%= render 'layouts/error_messages', model: f.object %>
        <div>
          <%= f.text_field :name, placeholder: "未登録タイトル", class:"user__textbox_body" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "--選択してください--", size: "30", class: "" %>
        </div>
          <div class="botton__position">
            <div class="button__panel">
               <%= f.submit 'Start', data: { confirm: "作成したルームは削除出来ません。カタカナ、またはアルファベットで同じタイトルが無いか確認しましたか？"}, class: "button" %>
            </div>
          </div>
        <% end %>
    </section>
  </article>