<main class="all">
  <div class="contents">
    <%= render 'layouts/header' %>
  </div>
  <div>
    <h4 class="contents__inner_text">
      VRを始めたいけど3D酔いしやすくて不安な貴方へ
      </h4>
        <p class="contents__inner_text">
          実はAMUも酔いやすく、激しい動作をするものだとすぐに気持ち悪くなってしまいます。
          しかしながら「自分は酔いやすいからVRは無理だろう」「ゲームセンターでVR体験したら気持ち悪くなった」
          でVR体験を諦めてしまうのは勿体ないです。ちなみにこれは「人は慣れる生き物だから慣れるまで頑張れ」とかそういう根性論では無く、
          単純に私達の様に酔いやすい体質の人でも楽しめるソフトが普通にあるという意味です。
          なので「VRをやりたいけど高いお金を出して設備を揃えても酔いで楽しめないかもしれない」と不安視されていた方はそこに恐れを感じる必要はありません。
          </p>
    <div class="contents__inner_criterion">
      <p class="contents__inner_text">以下は、Oculusさんの基準で酔やすさの指標を表すものです。</br>
        これにAMU基準を加えてプレイのしやすさを説明させて頂くのでソフト購入の指標にしてみて下さい。
        </p>
          <table>
            <tr>
              <th>
                <p class="contents__inner_text">
                  視界の動き：少ない
                </p>
                </th>
              <td>
                <p class="contents__inner_text">
                  酔いやすい人も、そうじゃない人も、まずはここから始めましょう。</br>
                  理由は２つあります。まずひとつ目、</br>
                  自分がどの程度の動きに対して許容出来るかの指標となるからです。</br>
                  そして２つ目、これが一番重要な事となります、</br>
                  結局なんだかんだ言ってもVRをプレイする上で慣れというのは結構大</br>
                  事なポイントで、比較的酔いにくい此方から始めると、楽しみながら</br>
                  VRに慣れていく事が出来るかと思うので、私はそうすることを推奨し</br>
                  ます。
                </p>

                  </td>
            </tr>
            <tr>
              <th>
                <p class="contents__inner_text">
                  視界の動き：やや強い
                </p>
                </th>
                <td>
                  <p class="contents__inner_text">
                    VRをプレイするのに慣れてきたら此方にも手を出してみましょう。</br>
                    ここが酔いやすい私達の一つの壁と言えるかと思います。</br>
                    コンテンツに方向感覚を失わせる(酔う原因)ような表現が含まれる</br>
                    ようになり、慣れと言う名の酔わない為の目の動かし方を履修する</br>
                    事が必要になってきます。これはある日突然出来るようになってた</br>
                    りするので、早く慣れようと無理をする必要はありません、VRコン</br>
                    テンツは逃げないので娯楽を娯楽として楽しみましょう。
                  </p>
                </td>
            </tr>
              <tr>
              <th>
                <p class="contents__inner_text">
                  視界の動き：激しい
                </p>

                </th>
                <td>
                  <p class="contents__inner_text">
                    選ばれし民にしか許されぬVRコンテンツの総称。</br>
                    そもそもプレイできる人いるの？私はかれこれVR歴５年になります</br>
                    が、未だ出来るようになる気がしません。びっくりするくらい酔い</br>
                    ます。でも面白そうなコンテツは色々あってついポチりそうになり</br>
                    ますが、無理なものは無理、無理過ぎです。なので私はコンテンツ</br>
                    ではなく、年々進化していくVR技術の発展で酔わなくなるのを期待</br>
                    してます。
                  </p>
                </td>
            </tr>
          </table>
  </div>
    <div>
      <p class="contents__inner_text">VRは最初にプレイするコンテンツを間違わなければ、他には無い最高の体験を与えてくれます。</br>
        誰だって娯楽に苦痛は伴って欲しくはないでょうし、
        やってみようと思ってくれた人は変な苦手意識を持たないためにも</br>
        その辺りに気をつけてはじめの一歩を踏み出して下さいね。</br>
      </p>
    </div>
  </div>

  <div class="contents">
    <div class="contents__inner">
        <div class =contents__image></div>
    </div>
  </div>

  <div>
    <table>
      <thead>
        <tr>
          <th>
            <h1 class="contents__inner_text">
              ルーム一覧
            </h1>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
        <tr>
          <td>
            <h2 class="contents__inner_text">
              <%= link_to room.name, room_path(room.id) %>
            </h2>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>

<%= form_with model: [@room], local:true do |f| %>
<%= f.text_field :name, placeholder: "タイトル" %>
<%= f.submit '新規登録', class: "btn btn-success" %>
<% end %>

</main>
