<header class="contents__header">
  <%= render 'layouts/header' %>
</header>
<article class="contents">
  <section class="contents__commentary">
    <h3 class="contents__commentary_title">
      「VR's」は、VRに興味のあるすべての人の為の情報交換や交流を持つ為のコミュニティサイトです！
    </h3>
      <h4 class="contents__inner_text">
      VRを始めたいけど3D酔いしやすくて不安な貴方へ
      </h4>
        <p class="contents__inner_text">
          実は私も酔いやすく、激しい動作をするものだとすぐに気持ち悪くなってしまいます。しかしながら「自分は酔いやすいからVRは無理だろう」「ゲームセンターでVR体験したら気持ち悪くなった」でVR体験を諦めてしまうのは勿体ないです。ちなみにこれは「人は慣れる生き物だから慣れるまで頑張れ」とかそういう根性論では無く、単純に私達の様に酔いやすい体質の人でも楽しめるソフトが普通にあるという意味です。なので「VRをやりたいけど高いお金を出して設備を揃えても酔いで楽しめないかもしれない」と不安視されていた方はそこに恐れを感じる必要はありません。
        </p>
  </section>
    <section class="contents__criterion">
      <div class="contents__criterion">
          <h4>以下は、Oculusさんの基準でコンテンツの酔いやすさの指標を表すものです。</br>
            これに対し、私の経験則を加えてプレイのしやすさを説明するのでソフト購入の指標にしてみて下さいね。</br>
            ※あくまでも個人的私感によるものです、異論反論は受けます。
            </h4>
              <table>
                <tr>
                  <th>
                    <p>
                      視界の動き：少ない
                    </p>
                    </th>
                  <td>
                    <p>
                      酔いやすい人も、そうじゃない人も、まずはここから始めましょう。</br>
                      理由は２つあります。まずひとつ目、</br>
                      自分がどの程度の動きに対して許容出来るかの指標となるからです。</br>
                      そして２つ目、これが一番重要な事となります、</br>
                      結局なんだかんだ言ってもVRをプレイする上で慣れというのは結構大</br>
                      事なポイントで、比較的酔いにくい此方から始めると、楽しみながら</br>
                      VRに慣れていく事が出来るかと思うので、私はそうすることを推奨し</br>
                      ます。
                    </p>
                  </td>
                </tr>
                <tr>
                  <th>
                    <p>
                      視界の動き：やや強い
                    </p>
                    </th>
                    <td>
                      <p>
                        VRをプレイするのに慣れてきたら此方にも手を出してみましょう。</br>
                        ここが酔いやすい私達の一つの壁と言えるかと思います。</br>
                        コンテンツに方向感覚を失わせる(酔う原因)ような表現が含まれる</br>
                        ようになり、慣れと言う名の酔わない為の目の動かし方を履修する</br>
                        事が必要になってきます。これはある日突然出来るようになってた</br>
                        りするので、早く慣れようと無理をする必要はありません、VRコン</br>
                        テンツは逃げないので娯楽を娯楽として楽しみましょう。
                      </p>
                    </td>
                </tr>
                  <tr>
                  <th>
                    <p>
                      視界の動き：激しい
                    </p>
                  </th>
                    <td>
                      <p>
                        選ばれし民にしか許されぬVRコンテンツの総称。</br>
                        <span>そもそもプレイできる人いるの？</span>私はかれこれVR歴５年になります</br>
                        が、未だ出来るようになる気がしません。びっくりするくらい酔い</br>
                        ます。でも面白そうなコンテツは色々あってついポチりそうになり</br>
                        ますが、無理なものは無理、無理過ぎです。なので私はコンテンツ</br>
                        ではなく、年々進化していくVR技術の発展で酔わなくなるのを期待</br>
                        してます。
                      </p>
                    </td>
                </tr>
              </table>
      </div>
    </section>
      <section class="contents__commentary">
        <p class="contents__inner_text">VRは最初にプレイするコンテンツを間違わなければ、他には無い最高の体験を与えてくれます。</br>
          誰だって娯楽に苦痛は伴って欲しくはないでょうし、
          やってみようと思ってくれた人は変な苦手意識を持たないためにも</br>
          その辺りに気をつけてはじめの一歩を踏み出して下さいね。</br>
        </p>
      </section>
</article>
<div class="contents__header_reverse">
  <div class="contents__inner">
      <div class =contents__image></div>
  </div>
</div>
<article class="rooms">
  <section class="rooms__text">
    <h1 class="rooms__text_title">
      Room list
      </h1>
      <p>では早速VR友作りの為にルームを作成……の前に、まずは同じ事を語りたい人が既に存在するルームが無いか確認しましょう！
      </p>
      <p>ルーム利用のルール</br>
        ・１つの議題につきワンルームが基本です。</br>
        ・ルーム名は、他の人が分かりやすいようにソフトのタイトル、又は企業名として下さい。</br>
        ・他の人と仲良くする気のない子はそもそも参加してはいけません、ここはVR友を作る場です。</br>
        ・ルールを守って楽しくチャット。</p>

          <%= search_form_for @q do |f| %>
            <%= f.label :name, 'タイトル' %>
            <%= f.search_field :name %>
            <br>
            <%= f.submit '検索' %>
          <% end %>
        <% @rooms.each do |room| %>

          <div><%= link_to room.name, room_path(room.id), class:"rooms__text_cite" %></div>
        <% end %>
        <%= paginate @rooms %>
  </section>
</article>
<div class="contents__header">
  <div class="contents__inner">
      <div class =contents__image_two></div>
  </div>
</div>
  <article class="rooms">
    <section class="rooms__text">
      <h1 class="rooms__text_title">Room Create</h1>
        <h4>語りたいタイトルが見つからなかった貴方へ</h4>
          <p>自分が楽しいと思うものは、他の人にも楽しいと思って貰いたいですよね!</br>
          ここでルームを作成してコンテンツのアピールをしながら同好の士を待ちましょう。</p>
        <%= form_with model: [@room], local:true do |f| %>
          <div class="errors"><%= flash[:notice] %></div>
          <%= render 'layouts/error_messages', model: f.object %>
        <div>
          <%= f.text_field :name, placeholder: "未登録タイトル", class:"user__textbox_body" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "--選択してください--", size: "30", class: "" %>
        </div>
          <div class="botton__position">
            <div class="button__panel">
               <%= f.submit 'Start', class: "button", data: {comfirm: "作成したルームは削除出来ません。カタカナ、または英語で同じタイトルが無いか確認しましたか？"} %>
            </div>
          </div>

        <% end %>
    </section>
  </article>