<header class="contents__header">
  <%= render 'layouts/header' %>
</header>
<article class="informations">
  <section class="informations__contents">
    <div class="informations__contents_text">
      <h2>information create</h2>
        <h4>AIによる感情分析が実装されています</h4>
          <p>1.0から-1.0の間で数値化された分析を元に、愚痴っぽくならないようポジティブな文面を心掛けましょう。</p>
      <%= form_with model: @information, url: admin_informations_path, local:true do |f| %>
        <div class="errors"><%= flash[:error] %></div>
        <%= render 'layouts/error_messages', model: f.object %>
          <%= f.text_field :name, placeholder: "タイトル", class: "user__textbox_body" %>
          <%= f.text_area :body, placeholder: "本文", class: "user__textbox_bigbody" %>
        <div class="botton__position">
          <div class="button__panel">
             <%= f.submit 'create', data: { confirm: "これで投稿しますか？"}, class: "button" %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</article>
