<header class="contents__header">
  <%= render 'layouts/header' %>
</header>
<article class="informations">
  <section class="informations__contents">
    <div class="informations__contents_text">
      <div>
        <%= link_to "編集", edit_admin_information_path, class: "informations__contents_link" %>
        <%= link_to "削除", admin_information_path(@information.id),　method: :delete, data: { confirm: "削除しますか？"}, class: "informations__contents_link" %>
      </div>
        <h3 class="informations__contents_title">
          <%= @information.name %>
          </h3>
          <p>
            <%= raw Rinku.auto_link(simple_format (@information.body)) %>
            </p>
    </div>
  </section>
</article>