<header class="contents__header">
  <%= render 'layouts/header' %>
</header>
<article class="rooms">
  <section class="rooms__text">
    <h1 class="rooms__text_title">
      User list
      </h1>
          <%= search_form_for @q, url: admin_users_path do |f| %>
            <%= f.label :name_cont, 'タイトル' %>
            <%= f.search_field :name_cont %>
            <br>
            <%= f.submit '検索' %>
          <% end %>
          <table class="table__position">
            <thead>
              <tr>
                <th>ID</th>
                <th>ユーザー名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
              <td>
              <% if user.user_status == true %>
                <span><%= link_to "有効", admin_user_path(user), method: :patch %></span>
              <% else %>
                <span><%= link_to "停止", admin_user_path(user), method: :patch %></span>
              <% end %>
              </td>
              </tr>
              <% end %>
            </tbody>
          </table>
  </section>
</article>