<header class="contents__header">
  <%= render 'layouts/header' %>
</header>
<article class="user">
  <section class="user__content">
    <% if @user == current_user %>
      <h4>
        早々に好きな部屋を探したい貴方へ
      </h4>
        <p><%= link_to "こちら", rooms_path, class: "user__content_link" %>でルームを探しましょう！</p>
      <h4>
        自分が何者か明確に出来る貴方へ
      </h4>
      <p><%= link_to "こちら", edit_user_path(@user), class: "user__content_link" %>でプロフィールを編集しましょう！</p>
    <% else %>
    <% end %>
    <h1>
      User page
      </h1>
        <div>
          <%= attachment_image_tag @user, :icon, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", class: "icon__body_mypage" %>
        </div>
        <div class="user__favarites">
          <div class="user__favarites_text">
            <i class="fas fa-heart"></i><%= @user.receive_favarites_count %>
          </div>
        </div>
        <h4>
          name
          </h4>
          <p><%= @user.name %></p>
        <h4>
          introduction
          </h4>
          <p><%= @user.introduction %></p>

  </section>
</article>
