<nav class="menu">
  <% if user_signed_in? %>
  <!--ユーザーメニュー-->
  <div class="menu__icon">
    <ul>
      <li class="menu__icon_list">
        <%= link_to root_path, class: "menu__icon_link" do %>
          <i class="fas fa-home "></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to about_path, class: "menu__icon_link" do %>
          <i class="fas fa-globe-americas"></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to user_path(current_user), class: "menu__icon_link" do %>
          <i class="fas fa-user"></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to destroy_user_session_path, method: :delete, class: "menu__icon_link" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to informations_path, class: "menu__icon_link" do %>
          <i class="far fa-sticky-note"></i>
        <% end %></li>
    </ul>
  </div>
  <div class="menu__text">
    <ul>
      <li class="menu__text_list">
        <%= link_to "Home", root_path, class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "About", about_path, class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "My page", user_path(current_user), class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "Information", informations_path, class: "menu__text_link" %>
        </li>
  </div>
  <% elsif admin_signed_in? %>
  <!--管理者メニュー-->
    <div class="menu__icon">
    <ul>
      <li class="menu__icon_list">
        <%= link_to  admin_users_path, class: "menu__icon_link" do  %>
          <i class="fas fa-users"></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to admin_rooms_path, class: "menu__icon_link" do  %>
          <i class="fas fa-laptop-house"></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to admin_genres_path, class: "menu__icon_link" do  %>
          <i class="fas fa-object-group"></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to destroy_admin_session_path, method: :delete, class: "menu__icon_link" do  %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to admin_informations_path, class: "menu__icon_link" do %>
          <i class="far fa-sticky-note"></i>
        <% end %></li>
    </ul>
  </div>
  <div class="menu__text">
    <ul>
      <li class="menu__text_list">
        <%= link_to "Users", admin_users_path, class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "Rooms", admin_rooms_path, class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "Genres", admin_genres_path, class: "menu__text_link"  %>
        </li>
      <li class="menu__text_list">
        <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "menu__text_link"  %>
        </li>
      <li class="menu__text_list">
        <%= link_to "Informations", admin_informations_path, class: "menu__text_link" %>
        </li>
  </div>
  <% else %>
  <!--未ログインメニュー-->
  <div class="menu__icon">
    <ul>
      <li class="menu__icon_list">
        <%= link_to root_path, class: "menu__icon_link" do  %>
          <i class="fas fa-home "></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to about_path, class: "menu__icon_link" do  %>
          <i class="fas fa-globe-americas"></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to new_user_registration_path(current_user), class: "menu__icon_link" do  %>
          <i class="fas fa-user"></i>
        <% end %></li>
        <%= link_to new_user_session_path, class: "menu__icon_link" do  %>
          <i class="fas fa-sign-in-alt"></i>
        <% end %></li>
      <li class="menu__icon_list">
        <%= link_to informations_path, class: "menu__icon_link" do %>
          <i class="far fa-sticky-note"></i>
        <% end %></li>
    </ul>
  </div>
  <div  class="menu__text">
    <ul>
      <li class="menu__text_list">
        <%= link_to "Home", root_path, class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "About", about_path, class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "sign up", new_user_registration_path(current_user), class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "Login", new_user_session_path, class: "menu__text_link" %>
        </li>
      <li class="menu__text_list">
        <%= link_to "Information", informations_path, class: "menu__text_link" %>
        </li>
    </ul>
  </div>
  <% end %>
  <div class="menu__info">
    <div class="menu__info_logo">
      VR's</div>
    <div class="menu__info_social">
      <a class="menu__info_link"href="https://github.com/Amu-Y/VR-s">
        <i class="fab fa-github"></i></a>
  </div>
</nav>